.books {
  display: flex;
  justify-content: center;

  height: 70vh;
  width: 60vw;
  &__greeting {
    text-align: center;
    line-height: 3.5rem;
    margin-top: 16rem;
    font-family: var(--title-font);
    &--main {
      font-size: 3rem;
    }
    &--sub {
      font-size: 2rem;
    }
    img {
      animation: moveLeftRight 7s 1s infinite;
    }
  }

  &__results {
    font-size: 1.8rem;
    width: 100%;
    opacity: 0;
    margin: 16rem auto;
    text-align: center;
    animation: fadeIn .8s  forwards;

    &--wrapper {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
      flex-wrap: wrap;

      & > * {
        margin: 2rem;
      }
    }
  }
}
// MODAL DESIGN
.modal {
  display: flex;
  flex-direction: column;

  &__wishlist {
    align-self: flex-end;
    color: lightgrey;
    font-style: unset;
    font-size: 3rem;
    cursor: pointer;
    transition: .3s color;
  }
  font-size: 1.7rem;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      margin-bottom: 3rem;
    }
    &--image {
      width: 50%;
      height: 28rem;
    }
  }
  &__body {
    &--desc {
      text-align: center;
      background: aliceblue;
      overflow-y: scroll;
      max-height: 29rem;
      p:first-child {
        margin-bottom: 1rem;
      }
      p:last-child {
      }
    }
  }
}
.chosen {
  color: var(--heart-color);
}


@keyframes moveLeftRight {
  0% {transform: translateX(0)}
  15% {transform: translateX(10px)}
  30% {transform: translateX(-8px)}
  50% {transform: translateX(0)}
  100% {transform: translateX(0)}
}
