/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --primary-color: #e1eef6;
  --secondery-color: #7f9eb2;
  --third-color: #9baec8;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Arial", sans-serif;
  height: 100vh;
  background-color: var(--primary-color);
}


// GLOBAL ANIMATION
@keyframes fadeIn {
  0% {opacity: 0; transform: translateY(-100px)}
  100% {opacity: 1; transform: translateY(-60px)}
}
